<br>
<br>
<br>
<br>
<br>
<div class="fondo2">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <p class="nombre font-weight-bold font-italic text-center bg-info text-white">Cita confirmada!</p>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-7">
    <br>
    <br>
    <br>
    <br>
    <a [routerLink]="['/opciones']">
      <button type="button" class="btn btn-info font-weight-bold">Aceptar
      </button>
    </a>
  </div>
</div>
